VISIONX_LATEST_VERSION=v1.0.17
VISIONX_VERSION_LABEL=VisionX ERP v1.0.17
VISIONX_PRODUCT=VISIONX_ERP_DESKTOP
VISIONX_CHANNEL=standard
VISIONX_EDITION=DESKTOP_LOCAL
VISIONX_GITHUB_RELEASE_TAG=v1.0.17
VISIONX_DOWNLOAD_URL=
VISIONX_DOWNLOAD_SHA256=
VISIONX_FORCE_UPDATE=false
VISIONX_RELEASE_NOTES=VisionX ERP update
